{% extends '/base.html.twig' %}
{% block body %}
<div class="container-fluid">
  <div class="text-center">
    <h1>To-do-list</h1>
  </div>
  <div class="row">
    {% for inf in data %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mid">
     <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">Zadanie #{{inf.id}} </div>
      <div class="card-body">
        <p class="float-right"></p>
        <h5 class="card-title float-none">{{ inf.title }}</h5>
        <p class="card-text text-justify">{{inf.description}}</p>
        <button type="button" class="btn btn-primary float-left"><a class="text-white" href="/files/edit/{{inf.id}}">Edytuj</a></button>
        <button type="button" class="btn btn-danger float-right"><a class="text-white" href="/files/delete/{{inf.id}}">Usuń</a></button>
      </div>
    </div>
  </div>
    {% endfor %}
 </div>
</div>
{% endblock %}
